.img1 {
    display: block;
    background-color: lightblue;
    padding: 20px;
    border: 10px solid red;
}

.img2 {
    display: block;
    background-color: lightblue;
    padding: 20px;
    border: 10px solid red;
    margin-left: 220px;
}

.img3 {
    display: block;
    background-color: lightblue;
    padding: 20px;
    border: 10px solid red;
    margin-left: 440px;
}